# dependencies
node_modules/
.env

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# other
*.local
*.log
*.cache
